$backgroundMain : #2381f4;
$borderColorMain : #e7e7e7;
$textColorMain : #2381f4;
$marginBottom : 10px;
@mixin transitionFun{
	transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.backgroundChange {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.backgroundChange:before{
	content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../images/icon/bghovermenu.png') repeat;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.backgroundChange:hover:before{
	-webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.scrollCustiom::-webkit-scrollbar-corner{ display: none; height: 0px; width: 0px; }
.scrollCustiom::-webkit-scrollbar{ width: 6px;background-color: #F5F5F5;height: 6px;height: 10px;border-radius: 35px; }
.scrollCustiom::-webkit-scrollbar-thumb{ background-color: #1ac6ff;border-radius: 8px; }
.scrollCustiom::-webkit-scrollbar-track{ -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);background-color: #F5F5F5; }
a:hover, a:focus {
    color: #2381f4 !important;
    text-decoration: underline !important;
}
.color-green{ color:green; }
.color-red{ color:red; }
.breadcrumb{
	padding: 0.35rem 1rem;
}
.content-page{
	line-height: 25px;
	border-bottom: 1px solid #e1e1e1;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.main-header{
	.menu-top{
		background-color: #f8f9fa;
	    /*position: fixed;
	    top: 0;*/
	    width: 100%;
	    z-index: 99999;
	    border-bottom: 1px solid #e7e7e7;
		.mini-box{
			display: flex;
			justify-content: flex-end;
			.micro-box{
				ul{
					text-align: right;
					margin-bottom: 0px;
					li{
						display: inline-block;
						a{
							color: #262626;
							display: inline-block;
							font-size: 12px;
							font-weight: bold;
							line-height: 34px;
							outline: 0 none;
							padding: 0 18.3px;
							text-transform: uppercase;
						    border-right: 1px solid #ccc;
						    border-radius: 0;
						    text-decoration: none;
						    font-family: Arial;
						}
					}
					li:hover{
						color: #fff;
					}
				}
			}
			.search-box{
				form{
					height: 100%;
				}
				input{
				    width: 75%;
				    padding: 6px 12px;
				    font-size: 14px;
				    line-height: 1.42857;
				    color: #555;
				    background-color: #fff;
				    -webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
				    -o-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
				    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
					border: none !important;
					box-shadow: none !important;
					border-radius: 0;
					outline: none !important;
				}
				button{
				    margin-bottom: 0;
				    font-weight: normal;
				    text-align: center;
				    cursor: pointer;
				    border: 1px solid transparent;
				    white-space: nowrap;
				    padding: 10px 12px;
				    font-size: 14px;
				    line-height: 1.42857;
				    background: #2381f4;
				    border: none !important;
				    box-shadow: none !important;
				    color: white;
				    border-radius: 0;
				    outline: none !important;
				    /* height: calc(100% + 1px); */
				    height: 100%;
				}
				*{
					height: 100%;
				}
			}
		}
	}
	.banner-head{
		img{
			width: 100%;
		}
	}
	.menu-main{
		margin-bottom: 0;
		background-color: $backgroundMain;
	    border-radius: 0;
	    border-color: $borderColorMain;
	    border: 1px solid transparent;
		.mini-box{
			ul{
				margin: 0px;
				padding: 0px;
				display: flex;
				li{
					list-style: none;
					position: relative;
					a{
						color: #fff;
						padding: 5px 16px;
					    font-weight: 600;
					    font-size: 11px;
					    text-transform: uppercase;
					    display: inline-block;
					    @include transitionFun;
					    i{
					    	font-size: 14px;
					    }
					    @extend .backgroundChange;
					}
					a:hover{
						color: $textColorMain;
					}
					ul{
						/*display: none;*/
						visibility: hidden;
						position: absolute;
						z-index: 10;
						opacity: 0;
						flex-wrap: wrap;
						@include transitionFun;
						background-color: $backgroundMain;
						li{
							width: 100%;
							border-bottom: 1px solid #ddd;
							a{
								width: 100%;
								white-space: nowrap;
							}
						}
					}
				}
				li:hover ul{
					visibility: visible;
					opacity: 1;
				}
				li:first-child{
					a{
						display: inherit;
					}
				}
			}
		}
	}
	.head-foot{
		background: url('../images/icon/mnchuchay.png') repeat-x;
		.box-head-foot{
			display: flex;
		}
		.mini-box{

		}
		.mini-box.date-time{
			padding-right: 10px;
			color: #6d747d;
		    font-size: 12px;
		    font-weight: normal;
		    line-height: 28px;
		    position: relative;
		}
		.mini-box.date-time:after{
			content: " ";border-right: 1px solid #ccc;position: absolute;right: 0px;top: 30%;display: block;height: 10px;
		}
		.mini-box.scroll-left{
			flex-grow: 1;
			padding-left: 10px;
			line-height: 30px;
		    color: #2381f4;
		    font-size: 12px;
		    font-weight: bold;
		}
	}
}
.main-content{
	.title-main{
		font-size: 28px;
		margin-bottom: 10px;
		font-weight: 500;
	}
	.single-page{
		padding: 5px 0px;
	}
}
.main-bound{
	padding-top: 10px;
	.list-top{
		display: flex;
		margin-bottom: $marginBottom;
		.left-list{
			width: 50%;
			.slide-item{
				margin-bottom: 10px;
				.image{
					text-align: center;
					vertical-align: middle;
					border: 1px solid #dedede;
					padding: 3px;
					a{
						
					}
					img{
						padding: 4px;
						border-radius: 2px;
						max-width: 100%;
					}
				}
				.info{
					background: $backgroundMain;
					padding: 10px;
    				min-height: 166px;
    				color: #fff;
					.title{
						font-weight: bold;
					    color: #fff;
					    overflow: hidden;
					    height: 36px;
					    line-height: 18px;
					}
					.date{
						color: #fff;
    					margin-bottom: 10px;
    					font-size: 14px;
    					font-style: italic;
						i{

						}
					}
					.summary{

					}
				}
			}
		}
		.right-list{
			width: 50%;
			height: 100%;
		    overflow-y: scroll;
		    overflow-x: hidden;
		    padding-left: 10px;
    		padding-right: 10px;
    		@extend .scrollCustiom;
			.list-item{
				padding-bottom: 10px !important;
			    margin-bottom: 10px !important;
			    border-bottom: 1px dotted #d3d3d3;
			    display: flex;
				.image{
					width: 30%;
					padding: 0px 10px 0px 0px;
					img{
						width: 100%;
					}
				}
				.info{
					width: 70%;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					.title{
						margin-bottom: 5px;
						a{
							font-weight: bold;
						    overflow: hidden;
						    display: -webkit-box;
						    -webkit-line-clamp: 2;
						    -webkit-box-orient: vertical;
						    color: #333;
						    font-size: 12px;
    						line-height: 18px;
						}
					}
					.date{
						font-size: 12px;
						line-height: 18px;
						font-weight: bold;
    					color: #5bc0de;
						i{
							color: #000;
						}
					}
				}
			}
		}
		.list-post-scroll{

		}
	}
	.banner-list{
		width: 100%;
		margin-bottom: $marginBottom;
		img{ 
			width: 100%; 
		}
	}
	.list-cate-sound{
		margin-bottom: $marginBottom;
	}
	.panel-sound{
		margin-bottom: 10px;
		.panel-heading{
			border-top-right-radius: 3px;
    		border-top-left-radius: 3px;
			color: #333;
		    background-color: #f5f5f5;
		    border-color: #ddd;
			background: #2381f4;
		    border-bottom: none;
		    padding: 0;
		    position: relative;
		    height: 40px;
			.panel-title{
				position: relative;
			    color: #2381f4;
			    font-weight: bold;
			    height: 35px;
			    margin-left: 10px;
			    line-height: 38px;
			    margin-top: 5px;
			    border-radius: 8px 8px 0 0;
			    text-transform: uppercase;
			    font-size: 14px;
			    display: inline-block;
			    background: #fff url('../images/icon/loa.png') 10px center no-repeat;
			    padding: 0 20px;
			    padding-left: 40px;
			    vertical-align: bottom;
				a{

				}
			}
		}
		.panel-body{
			min-height: 198px;
			padding: 10px;
		    border: 1px solid #2381f4;
		    border-top: 0;
		}
	}
	.list-ul-01{
		padding-left: 10px;
		li{
			list-style: none;
			border-top: 1px dotted #ddd;
			padding: 7px 5px;
			padding-left: 20px;
			position: relative;
			font-size: 14px;
			a{
				color: #333;
			}
		}
		li:after{
			content: "\f138";
		    display: inline-block;
		    font: normal normal normal 14px/1 FontAwesome;
		    font-size: inherit;
		    text-rendering: auto;
		    -webkit-font-smoothing: antialiased;
		    -moz-osx-font-smoothing: grayscale;
		    padding-right: 5px;
		    color: #333;
		    position: absolute;
		    top: 12px;
		    left: 0px;
		}
	}
	.list-cate{
		.post-one{
			.title{
				font-size: 14px !important;
    			font-weight: bold;
    			margin: 0 0 1em;
    			line-height: 25px;
				a{

				}
			}
			.info{
				display: flex;
				.image{
					width: 40%;
					padding: 5px;
					border: 1px solid #ddd;
					img{
						width: 100%;
					}
				}
				.summary{
					width: 60%;
					padding-left: 15px;
					text-align: justify;
					/*flex-grow: 1;*/
				}
			}
		}
	}
	.title-nice{
		background-repeat: repeat-x;
	    background-color: transparent;
	    color: #186BCC;
	    padding: 0;
	    border-bottom: 1px solid $backgroundMain;
	    :hover a{
	    	color: #fff !important;
	    }
	    p{
	    	font-weight: bold;
		    text-transform: uppercase;
		    display: inline-block;
		    background-color: $backgroundMain;
		    padding: 0 15px;
		    line-height: 34px;
		    color: #fff;
		    font-size: 14px;
		    position: relative;
	    }
	    p:after{
	    	width: 0;
		    height: 0;
		    border-top: 35px solid transparent;
		    border-left: 24px solid $backgroundMain;
		    content: "";
		    display: block;
		    position: absolute;
		    top: 0;
		    left: 100%;
	    }
	    a{
	    	color: #fff;
	    }
	}
	.post-more{
		padding: 10px 0px;
		ul{
			margin: 0px;
			padding: 0px;
			li{
				list-style: none;
				padding: 7px 0px 7px 18px;
				position: relative;
				border-bottom: 1px dashed #d3d3d3 !important;
				a{
					color: #2381f4;
    				padding: 0px;
				}
			}
			li:after{
				content: "\f138";
			    display: inline-block;
			    font: normal normal normal 14px/1 FontAwesome;
			    font-size: inherit;
			    text-rendering: auto;
			    -webkit-font-smoothing: antialiased;
			    -moz-osx-font-smoothing: grayscale;
			    padding-right: 5px;
			    color: #E5C3A6;
			    position: absolute;
			    top: 10px;
			    left: 0px;
			}
		}
	}
	.list-post-category{
		.list-item{
			padding-bottom: 10px !important;
		    margin-bottom: 10px !important;
		    border-bottom: 1px dotted #d3d3d3;
		    display: flex;
			.image{
				width: 30%;
				padding: 0px 10px 0px 0px;
				img{
					width: 100%;
				}
			}
			.info{
				width: 70%;
				.title{
					margin-bottom: 15px;
					a{
						font-weight: bold;
					    overflow: hidden;
					    display: -webkit-box;
					    -webkit-line-clamp: 2;
					    -webkit-box-orient: vertical;
					    color: #333;
					    font-size: 16px;
						line-height: 18px;
						text-transform: uppercase;
					}
				}
				.summary{
					font-size: 13px;
					line-height: 25px;
					text-align: justify;
				}
			}
		}
	}
	.list-vanban-category{
		.list-item{
			margin-bottom: 10px;
			border: 1px solid #ddd;
			.title{
				padding: 7px 5px;
    			background: #f1f1f1;
				a{
					font-weight: bold;
    				font-size: 14px;
				}
				:before{
					content: "ï„¸";
				    display: inline-block;
				    font: normal normal normal 14px/1 FontAwesome;
				    font-size: inherit;
				    text-rendering: auto;
				    -webkit-font-smoothing: antialiased;
				    -moz-osx-font-smoothing: grayscale;
				    color: #d95700;
				    padding-right: 5px;
				}
			}
			.info{
			    border-top: 0;
			    padding: 10px 5px;
			    font-size: 13px;
				.left-item{
					border-right: 1px dashed #ddd;
					.summary{
						font-size: 13px;
					}
					.is-file{
						color: #2196F3;
						font-size: 13px;
						a{

						}
					}
				}
				.publish-time{

				}
				.effective-time{

				}
			}
		}
	}
	.news-date{
		color: #999999;
	    font-size: 13px;
	    font-style: italic;
	    margin-bottom: 10px;
	}
}
.main-right{
	.single-sidebar{
		margin-bottom: $marginBottom;
	}
	.single-sidebar.sidebar-image{
		img{
			width: 100%;
		}
	}
	.list-post-right{
		ul{
			margin: 0px;
			padding: 0px;
			li{
				list-style: none;
				margin-bottom: 15px;
				.post-code{
					i{
						color: gray;
	    				font-size: 14px;	
					}
					a{

					}
					span{
						color: red;
					}
				}
				.post-title{
					margin-top: 2px;
    				margin-bottom: 2px;
    				font-size: 14px;
					a{
						color: #35810E;
						font-weight: bold;
					}
					span{
						color: #061d9c;
					}
					.title{

					}
				}
				.post-meta{
					color: #666;
    				font-size: 13px;
				}
			}
		}
	}
}
.main-footer{
	border-top: 26px solid $backgroundMain;
	text-align: center;
	padding-top: 10px;
}