<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add  key ="servername" value="OneduSendINCOM,OneduSendMOBI,OneduSendNEO,OneduSendSOUTH,OneduSendViettelHN,OneduSendVIVAS,OneduSendVMG,OneduSendVNPT"/>
    <add  key ="urlLog" value="D:/ToolSendSMS/MonitorService/LogSMS/"/>
  </appSettings>
</configuration>