<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="JSESSIONID" value="75AFA7CFEE4C22860C59CCD357CC4DD8" />
    <add key="TS0165a601" value="01c019e4e4f7bc31afc18624825f3b69af4b6d25549f3474c2c258c3ebfc197f1dce7cfa858f545f9bad8d260e67ddb6e44ceb92c4e71604aa1b5da6a5458a2dd7c27332b305ca4fd87d9bf870e835fcdc68afc862d180549c1026395eb264086b6f25011c" />
    <add key="TS017dff08" value="01c019e4e463601d7eb2a9e8dc3e2352d08f6761fb9f3474c2c258c3ebfc197f1dce7cfa8592e19ab011a0a7b55b2b82f1264c5d35527e24b2adf29453614f06bfe23c6f65" />
    <add key="urlSave" value="D:/ChuyenMangGiuSo/DataFile/" />
    <add key="urlLog" value="D:/ChuyenMangGiuSo/Log/" />
    <add key="urlId" value="2720" />
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="onedu" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=103.1.210.1)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=ONEDU;Password=onedu12345;Data Source=onedu" />
    <add name="oneduEntities" connectionString="metadata=res://*/Model.oneduModel.csdl|res://*/Model.oneduModel.ssdl|res://*/Model.oneduModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=103.1.210.1:1521/orcl;PASSWORD=onedu12345;USER ID=ONEDU&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>