<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name="StrGate" connectionString="Data Source=1;Initial Catalog=123.31.45.62;Persist Security Info=True;User ID=gate159;Password=gAte159@2016@#!)@)!^;Connection Timeout=18000" providerName="System.Data.SqlClient"/>    
  </connectionStrings>
</configuration>
